$dark: #202124;
$grey: #3c4043;
$brown: #3b372c;
$whiteLigth: #bdbdbe;

@mixin font500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@mixin font700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
